@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Anek Devanagari", sans-serif;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#quote-box {
  max-width: 25rem;
  min-height: 10rem;
  background-color: #7363fa;
  margin: 1rem;
  padding: 2rem 1rem 3rem;
  border-radius: 1rem;
  color: #fff;
  transition: 1s all;
}

#text {
  font-size: 1.2rem;
  position: relative;
  clear: both;
}

#text svg {
  width: 1.7rem;
}

#author {
  width: 100%;
  text-align: right;
  padding: 5px 0 10px;
}

#new-quote {
  float: right;
  background-color: #ffffff;
  color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .2rem 1.4rem;
}

#new-quote:active, #tweet-quote:active {
  opacity: 70%;
}

#tweet-quote {
  color: #fff;
  float: left;
}

p#creator {
  text-align: center;
  color: #000;
}